$clock-tick-height: 6px;
$clock-tick-width: $clock-tick-height;
$clock-tick-translate: 96px;
$clock-tick-translateX: -$clock-tick-height/2;

.clock-outline {
  height: 200px;
  width: 200px;
  border-radius: 200px;
  border: 8px solid #fff;  
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-103px) translateY(-103px);
}
.clock-outline .clock-center {  
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  position: relative;
  left: 50%;
  top: 50%; 
  transform: translate(-3px, -3px);
}
.clock-outline .clock-hour-pointer {
  height: 45px;
  width: 4px;
  border-radius: 0 0 4px 4px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;  
  transform-origin: 50% 0;
}
.clock-outline .clock-minute-pointer {
  height: 70px;
  width: 2px;
  border-radius: 2px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;    
  transform-origin: 50% 0;
}
.clock-outline .clock-second-poionter {
  height: 85px;
  width: 1px;
  border-radius: 1px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 50%;    
  transform-origin: 50% 0;
}
.clock-outline .clock-ticks {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}
.clock-outline .clock-ticks .single-tick {
  width: $clock-tick-width;
  height: $clock-tick-height;
  background-color: #fff;
  position: absolute;  
  left: 50%;
  top: 0;  
  transform-origin: top;
  border-radius: 6px;
}
.clock-ticks .single-tick:nth-child(1) {
  transform: translate($clock-tick-translateX, $clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(2) {
  transform: translateX($clock-tick-translateX) rotate(90deg) translateY($clock-tick-translate);  
}
.clock-ticks .single-tick:nth-child(3) {
  transform: translateX($clock-tick-translateX) rotate(-90deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(4) {
  transform: translateX($clock-tick-translateX) rotate(180deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(5) {
  transform: translateX($clock-tick-translateX) rotate(30deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(6) {
  transform: translateX($clock-tick-translateX) rotate(60deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(7) {
  transform: translateX($clock-tick-translateX) rotate(120deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(8) {
  transform: translateX($clock-tick-translateX) rotate(150deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(9) {
  transform: translateX($clock-tick-translateX) rotate(-150deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(10) {
  transform: translateX($clock-tick-translateX) rotate(-120deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(11) {
  transform: translateX($clock-tick-translateX) rotate(-60deg) translateY($clock-tick-translate); 
}
.clock-ticks .single-tick:nth-child(12) {
  transform: translateX($clock-tick-translateX) rotate(-30deg) translateY($clock-tick-translate); 
}
